---
- name: Demo playbook
  hosts: windows
  become: true
  become_method: runas
  become_user: admin
  tasks:
    - win_ping:
      become: false
      
    - register: result
      win_stat:
        path: "{{ file_path }}"
      
    - name: Create file
      win_file:
        path: "{{ file_path }}"
        state: touch
      when: not result.exists
    
      

    - setup:
      become: false

    - debug:
        var: testing
