---
- name: Demo playbook
  hosts: windows
  become: true
  become_method: runas
  become_user: admin
  tasks:
    - win_ping:
      become: false

    - name: Create file
      win_file:
        path: C:\foo.conf
        state: touch

    - win_stat:
        path: C:\foo.conf

    - setup:
      become: false
