---
- name: Demo playbook
  hosts: windows
  become: true
  become_method: runas
  become_user: admin
  tasks:
    - win_ping:
      become: false

    - name: Create file
      win_file:
        path: "{{ file_path }}"
        state: touch

    - win_stat:
        path: "{{ file_path }}"
      when: 
        - file_path1 is defined

    - setup:
      become: false

    - debug:
        var: testing
