---
- name: Demo playbook
  hosts: windows
  gather_facts: false
  become: true
  become_method: runas
  become_user: admin
  tasks:
    - win_ping:
      become: false
      tags: never

    - register: result
      win_stat:
        path: "{{ file_path | mandatory }}"
      
    - name: Create file
      win_file:
        path: "{{ file_path | mandatory }}"
        state: touch
      when: not result['stat']['exists']
    
    - setup:
      become: false

    - debug:
        var: testing
